body {
    background-size: cover; 
    background-image: url(./image/bg1.jpg)
  } 
  
  .body1{
    background-image: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);;
  }
  
  .body2{
    padding: 23px 90px 0px 102px;
    height: 100vh;
  }
  
  .frame{
    text-align: center;
    margin: auto;
    margin-top: 15rem;
    width: 30%;
    border: 2px solid lightgray;
    padding: 10px;
    background-color: rgba(0,0,0, 0.3)
  }
  
  .center{
    text-align: center;
  }
  
  .btm {
    background-color: rgb(59, 11, 90);
    color: white;
    padding: 5px 15px;
    margin-top: 0.3em;
  }
  
  .btr {
    background-color: rgb(235, 75, 195);
    color: white;
    padding: 5px 15px;
    margin-right: 0.3em;
  }
  
  .page {
    background-color: pink;
    padding: 10px 50px ;
  }
  
  .sidebar {
    padding-top: 10px;
    background-image: url(./image/Nav.jpg);
  }
  
  .top{
    margin-top: 12px;
  }
  
  .right{
    margin-right: 43px;
  }
  .right2{
    margin-right: 14px;
  }
  .right3{
    margin-right: 6px;
  }
  .right4{
    margin-right: 9px;
  }
  .right5{
    margin-right: 16px;
    color: white;
  }
  
  .click {
    cursor: pointer;
  }
  
  .dis{
     height: 45rem;
     background-color: pink;
     font-size: 1.3em;
  }
  .white{
    color: white;
  }

  .left{
    margin-left: 15px;
  }
  
  