body {
  text-align: center;
  background-image: url(https://ae01.alicdn.com/kf/HTB1UOc1LQzoK1RjSZFlq6yi4VXa6/Sumikko-Gurashi.jpg_960x960.jpg);
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2em;
  background-color: Thistle ;
  border: 25px solid navy;
  margin: 100px;
} 
 
.btn {
  background-color: #00FF00;
  color: white;
  padding: 5px 15px;
  margin-top: 0.3em;
}

.btr {
  background-color: #FF0099;
  color: white;
  padding: 5px 15px;
  margin-left: 0.3em;
}

